@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Shippori+Mincho+B1:wght@600&display=swap');
@import url('./carousel.css');
@import url('./modal.css');

.dark-theme {
    --documentBgColor: rgb(215, 215, 215);
    --sectionBgColor: rgba(140, 80, 170, .9);
    --sectionBorderColor: rgb(150, 90, 180);
    --sectionBgAltColor: rgba(140, 80, 170, .9);
    --sectionSeparatorColor: rgb(100, 100, 100);
    --documentTitleColor: rgb(255, 255, 255);
    --sectionTittleColor: rgb(255, 255, 255);
    --sectionTitleHoverColor: rgb(255, 255, 255);
    --sectionTitleHoverBgColor: rgb(50, 50, 50);
    --normalTextColor: rgb(255, 255, 255);
    --navbarBgColor: rgb(130, 70, 160);
    --footerBgColor: rgb(50, 50, 50);
    --footerTextColor: rgba(215, 215, 215);
    --facebookIconColor: rgb(70, 150, 255);
    --whatsappIconColor: rgb(75, 175, 100);
    --githubIconColor: rgb(245, 245, 245);
    --floatingActionsButtonBgColor: rgb(50, 50, 50);
    --floatingActionIconColor: rgb(255, 255, 255);
    --iconDescriptionColor: rgb(215, 215, 215);
}

.light-theme {
    --documentBgColor: rgb(200, 200, 200);
    --sectionBgColor: rgba(235, 235, 235, .9);
    --sectionBorderColor: rgb(150, 90, 180);
    --sectionBgAltColor: rgba(235, 235, 235, .9);
    --sectionSeparatorColor: rgb(100, 100, 100);
    --documentTitleColor: rgb(150, 90, 180);
    --sectionTittleColor: rgb(50, 50, 50);
    --sectionTitleHoverColor: rgb(255, 255, 255);
    --sectionTitleHoverBgColor: rgb(50, 50, 50);
    --normalTextColor: rgb(50, 50, 50);
    --navbarBgColor: rgb(240, 240, 240);
    --footerBgColor: rgb(50, 50, 50);
    --footerTextColor: rgba(200, 200, 200);
    --facebookIconColor: rgb(70, 150, 255);
    --whatsappIconColor: rgb(75, 175, 100);
    --githubIconColor: rgb(245, 245, 245);
    --floatingActionsButtonBgColor: rgb(50, 50, 50);
    --floatingActionIconColor: rgb(255, 255, 255);
    --iconDescriptionColor: rgb(255, 255, 255);
}

@keyframes iconDance {
    0% {
    } 25% {
        transform: rotate(60deg);
        font-size: 4rem;
    } 75% {
        transform: rotate(-60deg);
        font-size: 4rem;
    } 100% {
        transform: rotate(0);
    }
}
@keyframes floating {
    from {
        transform: scale(1.05);
    } to {

    }
}

.hidden {
    display: none;
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    scroll-behavior: smooth;
}

body * {
    font-family: 'Roboto Mono', monospace;
}
h2, h1 {
    font-family: 'Shippori Mincho B1', serif;
}

nav {
    z-index: 10;
    box-shadow: 1px 0px 8px 1px rgba(50, 50, 50, .5);
}
nav > header {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-content: center;
    margin: 0;
    padding-bottom: .5rem;
    color: var(--documentTitleColor);
}
nav h2,
nav a {
    user-select: none;
}
nav h2 {
    text-align: center;
    cursor: default;
}
nav a,
nav a:link,
nav a:visited {
    color: var(--sectionTittleColor);
    font-size: 1.2rem;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    text-decoration: none;
    transition: none;
}
nav > section > a.active,
nav a:hover {
    background-color: var(--sectionTitleHoverBgColor);
    color: var(--sectionTitleHoverColor);
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px black;
}
nav > section > a.active > i {
    color: gold;
}

body {
    background-color: var(--documentBgColor);
    /*background-image: linear-gradient(to bottom, rgb(40, 150, 40), rgb(200, 50, 50));*/
    display: flex;
    overflow-x: hidden;
    scroll-snap-points-x: repeat(85vw);
    scroll-snap-type: x mandatory;
    background-image: url("./../img/foo.jpg");
}
body > * {
    transition: .5s ease-in background-color;    
}
body > header,
body > section {
    scroll-snap-align: start;
    background-color: var(--sectionBgColor);
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
}
body > header::-webkit-scrollbar,
body > section::-webkit-scrollbar {
    background: none;
}
.alt-section {
    background-color: var(--sectionBgAltColor);
}
body > header img,
body > section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body > header > img,
body > section > img {
    animation: floating 5s linear alternate-reverse infinite;
}
/*body > section {
    border-top: 1px solid var(--sectionSeparatorColor);
}*/
body > header h1,
body > section h2 {
    font-size: 1.8rem;
    text-align: center;
    color: var(--sectionTittleColor);
}
body > section p,
body > header p {
    font-size: 1.4rem;
    color: var(--normalTextColor);
}

.icon-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(9, auto);
    justify-items: center;
}
.icon-container-centered {
    display: grid;
    grid-template-rows: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 2rem;
}
.icon-container img {
    width: 100px;
}
.icon-item {
    transition: 1s ease transform;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(50, 50, 50);
    padding: .2rem 0;
}
.icon-container .icon-item:hover {
    transform: scale(1.8);
    z-index: 2;
}
.icon-container .icon-item > p {
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    transition: 1s ease top, 1s ease opacity;
    background-color: rgba(50, 50, 50, .7);
    color: var(--iconDescriptionColor);
    font-size: .8rem;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 .5rem;
    margin: 0;
}
.icon-container .icon-item:hover > p {
    opacity: 1;
    top: 0%;
}
#contact {
}
#contact img {
    
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px black;
}
#contact .icon-container-centered > a > i {
    font-size: 3rem;
    cursor: pointer;
    background-color: rgb(50, 50 ,50);
    border-radius: 5px;
    padding: .3rem;
    box-shadow: 1px 1px 2px 1px black;
}
.contact-icon-animation {
    animation: iconDance 1.4s ease;
}
#contact .icon-container-centered > a > i.fa-facebook {
    color: var(--facebookIconColor);
}
#contact .icon-container-centered > a > i.fa-whatsapp {
    color: var(--whatsappIconColor);
}
#contact .icon-container-centered > a > i.fa-github {
    color: var(--githubIconColor);
}

footer {
    background-color: var(--footerBgColor);
    color: var(--footerTextColor);
    font-size: 1.4rem;
    text-align: center;
    padding: .5rem 0;
    margin-top: auto;
}

.floating-actions {
    z-index: 11;
    position: fixed;
    right: 5vw;
    top: 1rem;
}
.floating-actions > button > i {
    transition: .5s ease transform;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
.rotate-180 {
    transform: rotate(180deg);
}
.floating-actions > button {
    border: none;
    background-color: var(--floatingActionsButtonBgColor);
    color: var(--floatingActionIconColor);
    font-size: 2rem;
    transition: .5s ease border-radius;
    padding: .5rem;
    margin: 0;
    box-shadow: 1px 1px 2px 1px black;
}
.floating-actions > button:hover {
    cursor: pointer;
    border-radius: 50%;
}
.floating-actions > button > p {
    display: none;
    position: absolute;
    background-color: var(--floatingActionsButtonBgColor);
    padding: .5rem;
    font-size: .8rem;
}


@media(min-width: 426px) {
    nav {
        display: flex;
        flex-direction: column;
        position: sticky;
        left: 0;
        align-items: center;
        justify-items: center;
        width: 15vw;
        height: 100%;
        background-color: var(--navbarBgColor);
    }
    nav > header,
    nav > section,
    nav h2,
    nav a {
        height: 10%;
        width: 100%;
    }
    nav > section {
        display: flex;
        flex-wrap: wrap;
        width: inherit;
    }
    nav a,
    nav a:link,
    nav a:visited {
        justify-content: flex-start;
        padding-left: 1.5rem;
    }
    nav a > i {
        padding-right: 1rem;
    }

    body > header,
    body > section {
        padding: 2rem 3rem;
        min-width: calc(85vw - 6rem);
        scroll-margin-left: 15vw;
    }
    .floating-actions > button:hover > p {
        display: block;
    }
    .icon-container {
        row-gap: 1rem;
        column-gap: .5rem;
    }
}
@media(max-width: 425px) {
    nav {
        display: flex;
        position: fixed;
        bottom: 0;
        align-items: center;
        justify-items: center;
        width: 100vw;
        height: 10vh;
        background-color: var(--navbarBgColor);
    }
    nav > header {
        display: none;
    }
    nav > footer {
        display: none;
    }
    nav > section {
        display: flex;
    }
    nav a,
    nav a:link,
    nav a:visited {
        font-size: .8rem;
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        padding: 1.5rem 0;
        text-align: center;
    }
    
    body {
        background-color: var(--documentBgColor);
        display: flex;
        overflow-x: hidden;
    }
    body > header,
    body > section {
        padding: 3rem 1.5rem;
        min-width: calc(100vw - 3rem);
        scroll-margin-left: 0;
        padding-bottom: 20%;
    }
    body > header img,
    body > section img {
        width: 70vw;    }

    .icon-container {
        grid-template-columns: repeat(4, 25%);
    }
    .icon-container img {
        width: 12vw;
    }
    .icon-container .icon-item > p {
        font-size: .5rem;
    }

    #contact .icon-container-centered {
        padding-top: 2rem;
        column-gap: 1rem;
        place-content: center;
    }
    #contact .icon-container-centered > a > i {
        font-size: 2.4rem;
        cursor: pointer;
        background-color: rgb(50, 50 ,50);
        border-radius: 5px;
        padding: .3rem;
    }
}