:root{
    --colorPrincipal: #511f50;
}

.bgColorPrincipal{
    background-color: var(--colorPrincipal);
}
.textColorPrincipal{
    color:  var(--colorPrincipal);
}
.cardSubTitulo{
    color: #894379;
}
.cardImg{
    max-width: 3rem;
}
.colorAlertPrincipal{
    background-color:#a060912a;
    width: 23rem;
    height: 6em;
}
main{
    padding: 0.8em;
}
#fondo{
    /*background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");*/
    background-repeat: no-repeat;
    background-image: repeating-radial-gradient(100%,100%); 
}

    .centerMovil{
        text-align:center;
    }
    .tituloPage{
        text-align:center;
        font-family: 'Xanh Mono', monospace;
        font-size: 2em !important;
    }
    .textAlert{
        text-align:center !important;
        font-size:30em;
    }

    i {
        cursor: pointer;
        animation-name: fadeDisplay;
        animation-duration: 3s;
    }

    
@keyframes toUpFade {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes toLeftFade {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes toUpFadeIcon {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0);
    }
}

.hidden {
    opacity: 0;
}
.servicesDiv {
    animation: toLeftFade 2s ease;
}
.toUpFadeAnimation {
    animation: toUpFade 1s ease;
}
.socialMedias {
    animation: toUpFadeIcon 2s ease;
}
    
@media(max-width: 719px) {
    .servicesDiv > div > div {
        height: 5em;
        text-align: center;
    }
    .cardsRow br {
        display: none !important;
    }
}
@media(min-width: 720px) {
    .socialMedias {
        margin-top: 10em;
    }
    .cardsRow {
        margin-top: 5em;
    }
    main{
        padding: 7em;
    }
    .container-xl {
        min-width: 80%;
    }
    #fondo{
    /*background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");*/
    background-repeat: no-repeat;
    background-image: repeating-radial-gradient(100%,100%); 
    }
    .centerMovil{
        text-align:justify;
    }
    .tituloPage{
    text-align: start;
    font-size: 3em !important;
    
    }
    .textAlert{
        text-align:left !important;
    }
    .colorAlertPrincipal{
        background-color:#a060912a;
        width: 23rem;
        height: 3em;
    }
}


