:root{
    --colorPrincipal: #511f50;
}

.bgColorPrincipal{
    background-color: var(--colorPrincipal);
}
.textColorPrincipal{
    color:  var(--colorPrincipal);
}
.cardSubTitulo{
    color: #894379;
}
.cardImg{
    max-width: 3rem;
}
.colorAlertPrincipal{
    background-color:#a060912a;
    width: 23rem;
    height: 6em;
}
main{
    padding: 0.8em;
}
    .centerMovil{
        text-align:center;
    }
    .tituloPage{
        text-align:center;
        font-family: 'Xanh Mono', monospace;
        font-size: 2em !important;
    }
    .textAlert{
        text-align:center !important;
        font-size:30em;
    }

    i {
        cursor: pointer;
        animation-name: fadeDisplay;
        animation-duration: 3s;
    }

    
@keyframes toUpFade {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes toLeftFade {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes toLeftFadeDelay1 {
    from {
        transform: translateX(130px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes toLeftFadeDelay2 {
    from {
        transform: translateX(160px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes toUpFadeIcon {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes shake {
    0% {
    }
    33% {
        transform: rotate3d(0, 0, 1, 30deg);
    }
    66% {
        transform: rotate3d(0, 0, 1, -30deg);
    }
}

.hidden {
    opacity: 0 !important;
}
.servicesDiv > div:nth-child(1) {
    animation: toLeftFade 2s ease;
}
.servicesDiv > div:nth-child(2) {
    animation: toLeftFadeDelay1 2s ease;
}
.servicesDiv > div:nth-child(3) {
    animation: toLeftFadeDelay2 2s ease;
}
.toUpFadeAnimation {
    animation: toUpFade 1s ease;
}
.socialMedias {
    animation: toUpFadeIcon 2s ease;
}
.socialMedias i {
    transition: color 1s ease;
}
.socialMedias i:hover {
    animation: shake 1s ease;
}
.socialMedias i:nth-child(2):hover {
    color: rgb(64, 206, 64);
}
.socialMedias i:nth-child(1):hover {
    color: rgb(38, 71, 255);
}
.toUpButton {
    position: fixed;
    bottom: 1em;
    right: 10%;
    z-index: 10;
    font-size: 3rem;
    opacity: .6;
    color: rgb(50, 50, 50) !important;
    transition: opacity .5s ease;
}
.toUpButton:hover {
    opacity: 1;
}
#fondo {
    position: relative;
}
html {
    scroll-behavior: smooth;
}
.card > div > p {
    font-style: italic !important;
}
    
@media(max-width: 719px) {
    .servicesDiv > div > div {
        height: 5em;
        text-align: center;
    }
    .cardsRow br {
        display: none !important;
    }
}
@media(min-width: 720px) {
    .socialMedias {
        margin-top: 10em;
    }
    .cardsRow {
        margin-top: 5em;
    }
    main{
        padding: 7em;
    }
    .container-xl {
        min-width: 80%;
    }
    .centerMovil{
        text-align:justify;
    }
    .tituloPage{
    text-align: start;
    font-size: 3em !important;
    
    }
    .textAlert{
        text-align:left !important;
    }
    .colorAlertPrincipal{
        background-color:#a060912a;
        width: 23rem;
        height: 3em;
    }
}


